*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: block;
  font-family: system-ui, sans-serif;
  font-size: 75%;
  background-color: #dadada;
  box-sizing: border-box;
}

img {
  width: 600px;
  height: 400px;
}

section {
  align-items: center;
}

.preview {
  margin: 0 auto;
}

/* Tablet screens and larger */
@media screen and (min-width: 575px) {
}

/* Laptop screens and larger */
@media screen and (min-width: 991px) {
}
